<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_lefterr align_items_center">
                        <figure class="errimg">
                            <img src="./404.jpg  " alt="rohan" class="img-fluid-1">
                        </figure>
                        <p class="epa"> SORRY... !</p>
                        <h1 class="epa"> {{errorMsg}}</h1>
                        <a href="/" class="epa" target="_blank"><button> Go Back </button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer>
        <p> CREATED BY ROHAN DHANANI... </p>
    </footer>
</body>

</html>