<!DOCTYPE html>
<html lang="en">

<head>
     {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p> Welcome ! weather app </p>
                        <h1> GET THE LEATEST <span class="text_clr"> WEATHER </span> INFO OF YOUR CITY </h1>
                        <a href="/weather"><button>check now</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="./1.jpeg" class=" w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="./2.jpeg" class=" w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="./5.jpeg" class=" w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p> CREATED BY ROHAN DHANANI... </p>
    </footer>
</body>

</html>